<!DOCTYPE html>
<html>
<head>
    <title>Add Category</title>
</head>
<body>

    <h1>LocalBookmarks</h1>

    <nav>
        <a href="/">Home</a> |
        <a href="/favorites-page">Favorites</a>
    </nav>

    <hr>

    <h2> Add Categories </h2>

    <form id="categoryForm">
        <label>Category Name:</label>
        <br><br>

        <input type="text" id="categoryName" placeholder="Enter category name" required>

        <br><br>

        <button type="submit">
            Create Category
        </button>

    </form>

    <p id="message"></p>

    <script>
        document.getElementById("categoryForm")
            .addEventListener("submit", async function(e) {

                e.preventDefault();

                const name = document.getElementById("categoryName").value.trim();
                const response = await fetch("/api/categories", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        name: name
                    })
                });

                const data = await response.json();
                const message = document.getElementById("message");

                if (data.success) {
                    message.style.color = "green";
                    message.textContent = "Category created successfully";

                    setTimeout(() => {
                        window.location.href = "/";
                    }, 1000);
                } else {
                    message.style.color = "red";
                    message.textContent = data.message;
                }
            });
    </script>
</body>
</html>