{% extends "base.html" %}

{% block title %} Add Category {% endblock %}

{% block extra_nav %}
<a href="/favorites-page">Favorites</a>
{% endblock %}

{% block content %}
<h2>Add Category</h2>

<form id="categoryForm">
    <input type="text" id="categoryName" placeholder="Enter Category Name" required>
    <button type="submit">
        Create Category
    </button>
</form>

<p id="message"></p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/add_Category.js') }}"></script>
{% endblock %}