{% extends "base.html" %}

{% block title %} Add Bookmark {% endblock %}

{% block extra_nav %}
<a href="/favorites-page">Favorites</a>
{% endblock %}

{% block content %}
<h2>Add Bookmark</h2>

<form id="bookmarkForm">
    <div>
        <label>Title</label><br>
        <input type="text" id="title" required>
    </div>

    <br>

    <div>
        <label>URL</label><br>
        <input type="text" id="url" required>
    </div>

    <br>

    <div>
        <label>Category</label><br>
        <input type="text" id="category" readonly>
    </div>

    <br>

    <div>
        <label>Tags (comma separated)</label><br>
        <input type="text" id="tags">
    </div>

    <br>

    <button type="submit">
        Add Bookmark
    </button>

</form>

<hr>

<div id="message"></div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/add_Bookmark.js') }}"></script>
{% endblock %}