{% extends "base.html" %}

{% block title %} Update Bookmark {% endblock %}

{% block extra_nav %}
<a href="/favorites-page">Favorites</a>
{% endblock %}

{% block content %}

<h2>Update Bookmark</h2>

    <form id="updateForm" data-bookmark-id="{{ bookmark_id }}">
        <div>
            <label>Title</label><br>
            <input type="text" id="title">
        </div>

        <br>

        <div>
            <label>URL</label><br>
            <input type="text" id="url">
        </div>

        <br>

        <div>
            <label>Category</label><br>
            <input type="text" id="category">
        </div>

        <br>

        <div>
            <label>Tags</label><br>
            <input type="text" id="tags">
        </div>

        <br>

        <button type="submit">
            Update Bookmark
        </button>
    </form>

    <hr>

    <div id="message"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/update_Bookmark.js') }}"></script>
{% endblock %}